<div class="row">
    <div class="col-4 animated fadeIn"><img src="./assets/images/background/landing-veterinaria.png" alt="landing"></div>
    <div class="col ml-4 animated fadeIn">
        <h1>Veterinaria Pulgas</h1>
        <div class="mt-4 ml-4">
            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 30rem;">
                        <div class="row">
                            <h3 class="hide-menu"><Strong>Medicina preventiva</Strong></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">En la Clínica Veterinaria pulgas contamos con excelentes programas de medicina preventiva como es la aplicación de vacunas para perros, gatos y hurones de los laboratorios más reconocidos y con los distribuidores  del ramo que se han destacado por el mantenimiento de la cadena fría para que los biológicos al ser aplicados a su mascota se encuentren en perfectas condiciones.</p>
                        </div>
                    </div>
        
                    <div class="card" style="width: 30rem;">
                        <div class="row">
                            <h3 class="hide-menu"><Strong>Consulta</Strong></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">La Clínica Veterinaria Pulgas cuenta con médicos veterinarios expertos en diferentes disciplinas y con la metodología necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y oportuna, seguimos a detalle el expediente clínico orientado a problemas, en el que al conjuntar los datos generales, la historia clínica y el examen clínico.</p>
                        </div>
                    </div>
        
                </div>

                <div class="col-6">
                    <div class="card" style="width: 30rem;">
                        <div class="row">
                            <h3 class="hide-menu"><Strong>Cirugía</Strong></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">En la Clínica Veterinaria Pulgas contamos con quirófano equipado con anestesia inhalada y monitores trans quirúrgicos en donde al anestesista se le permite visualizar permanentemente las constantes de las mascotas como son el electrocardiograma, frecuencia respiratoria, cantidad de oxigeno y bióxido de carbono circulante en el organismo de nuestra mascota.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 30rem;">
                        <div class="row">
                            <h3 class="hide-menu"><Strong>Hospitalización</Strong></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">En la Clínica Veterinaria del Bosque contamos con los métodos diagnósticos y tratamiento de las enfermedades de los órganos internos de manera no quirúrgica con este fin hemos incorporado equipos de laboratorio, imagenología, electrocardiografía.</p>
                        </div>
                    </div>
                </div>

            </div>
            
            

             
        </div>
    </div>
</div>
