    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="user-profile">
                        <a class="waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Doctor Mejia</span></a>
                    </li>
                    <li class="nav-devider"></li>
                    <li> <a class="waves-effect waves-dark" routerLink="/home" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Home</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" routerLink="/citas" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Citas</span></a>
                    </li>                    
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->